body {
    background-color: #0f121f;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    width: 97%; 
    margin-left: 20px;
    
}

body *{
    font-family: Ubuntu;
    
    
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 5px;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}
#date{
    color: royalblue !important;
    text-align: right;
    font-size: 0.3em;
}

.articles{
    background-color: rgba(43, 46, 46, 0.616);
    font-size: 2em;
    border-radius: 10px;
    padding: 20px;
}
#title{
    text-align: center;
}